@tailwind base;
@tailwind components;
@tailwind utilities;

.font-logo {
    font-family: "Nanum Brush Script", serif;
    font-weight: 400;
    font-style: normal;
}

.main-font {
    font-family: "Gasoek One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Nanum Gothic", sans-serif;
}
